{{#if updateQuestionForm}}
<h4>Edit <strong>{{question.text}}</strong></h4>
  <div>
    <form>
      <div class="form-group">
        <label for="text">Update question:</label><br>
        {{input value=text id="text"}}
      </div>
      <div class="form-group">
        <label for="author">Update name:</label><br>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="notes">Update details:</label><br>
        {{input value=notes id="notes"}}
      </div>

      <button {{action 'update' question}}>Save Question</button>
    </form>
  </div>
  {{else}}
    <button {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
